services:
    evt.repository:
        abstract:  true
        class: Doctrine\Common\Persistence\ObjectRepository
        factory_service: doctrine
        factory_method: getRepository

    evt.repository.user:
        parent: evt.repository
        arguments: [EVTCoreDomainBundle:GenericUser]
        calls:
            - [setUserManager, [@fos_user.user_manager]]
            - [setUserMapping, [@evt.mapper.user]]

    evt.repository.lead:
        parent: evt.repository
        arguments: [EVTCoreDomainBundle:Lead]
        calls:
            - [setMapper, [@evt.mapper.lead]]

    evt.repository.showroom:
        parent: evt.repository
        arguments: [EVTCoreDomainBundle:Showroom]
        calls:
            - [setMapper, [@evt.mapper.showroom]]
            - [setAsyncDispatcher, [@bdk.async_event_dispatcher]]

    evt.repository.provider:
        parent: evt.repository
        arguments: [EVTCoreDomainBundle:Provider]
        calls:
            - [setMapper, [@evt.mapper.provider]]

    evt.repository.vertical:
        parent: evt.repository
        arguments: [EVTCoreDomainBundle:Vertical]
        calls:
            - [setMapper, [@evt.mapper.vertical]]

    evt.form.provider:
        class: EVT\CoreDomainBundle\Form\Type\ProviderFormType
        arguments: [@evt.repository.user]

    evt.mapper.provider:
        class: EVT\CoreDomainBundle\Mapping\ProviderMapping
        arguments: [@doctrine.orm.entity_manager, @evt.mapper.user]

    evt.mapper.user:
        class: EVT\CoreDomainBundle\Mapping\UserMapping

    evt.mapper.vertical:
        class: EVT\CoreDomainBundle\Mapping\VerticalMapping

    evt.mapper.showroom:
        class: EVT\CoreDomainBundle\Mapping\ShowroomMapping
        arguments: [@doctrine.orm.entity_manager, @evt.mapper.provider, @evt.mapper.vertical]

    evt.mapper.lead:
        class: EVT\CoreDomainBundle\Mapping\LeadMapping
        arguments: [@doctrine.orm.entity_manager, @evt.mapper.showroom]

    evt.showroom.async_event_driver_create:
        class: BDK\AsyncDispatcherBundle\Model\EventDispatcher\AsyncDriver\RabbitMQDriver
        arguments:  [@old_sound_rabbit_mq.showroom_create_producer, @jms_serializer]
        calls:
            - [setRoutingKey, ['create.showroom']]
        tags:
            - { name: bdk.async_event_dispatcher, event: evt.event.showroom_create }

    evt.showroom.async_event_driver_update:
        class: BDK\AsyncDispatcherBundle\Model\EventDispatcher\AsyncDriver\RabbitMQDriver
        arguments:  [@old_sound_rabbit_mq.showroom_update_producer, @jms_serializer]
        calls:
            - [setRoutingKey, ['update.showroom']]
        tags:
            - { name: bdk.async_event_dispatcher, event: evt.event.showroom_update }
