services:
    evt.repository:
        abstract:  true
        class: Doctrine\Common\Persistence\ObjectRepository
        factory_service: doctrine
        factory_method: getRepository

    evt.repository.user:
        parent: evt.repository
        arguments: [EVTCoreDomainBundle:GenericUser]
        calls:
            - [setUserManager, [@fos_user.user_manager]]

    evt.repository.lead:
        parent: evt.repository
        arguments: [EVTCoreDomainBundle:Lead]

    evt.repository.showroom:
        parent: evt.repository
        arguments: [EVTCoreDomainBundle:Showroom]

    evt.repository.provider:
        parent: evt.repository
        arguments: [EVTCoreDomainBundle:Provider]

    evt.repository.vertical:
        parent: evt.repository
        arguments: [EVTCoreDomainBundle:Vertical]

    evt.form.provider:
        class: EVT\CoreDomainBundle\Form\Type\ProviderFormType
        arguments: [@evt.repository.user]
