language: php

php:
  - 5.5

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install --dev

script: phpunit -c app/

services:
  - redis-server
  
notifications:
  slack: bodaclick:96T87K3ZYBkkRS0HXnqdRooi
