parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    rabbitmq_host: localhost
    rabbitmq_port: 5672
    rabbitmq_vhost: /
    rabbitmq_user: guest
    rabbitmq_pass: guest

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    rabbitmq_host: localhost
    rabbitmq_port: 5672
    rabbitmq_vhost: /
    rabbitmq_user: guest
    rabbitmq_pass: guest

    apikeys:
        - name: local
          key: 17664104WOv2a6N2wZI7169S5c5BBwqi65M57Z658L1n4Kzh9i80761Bi91z0WeQ 
