EVT\CoreDomainBundle\Entity\GenericUser:
    repositoryClass: EVT\CoreDomainBundle\Repository\UserRepository
    type: entity
    table: generic_user
    uniqueConstraints:
        email_UNIQUE:
            columns:
                - email
        username_UNIQUE:
            columns:
                - username
    id:
        id:
            type: integer
            nullable: false
            unsigned: false
            id: true
            generator:
                strategy: AUTO
    fields:
        name:
            type: string
            nullable: true
            length: 60
            fixed: false
        surnames:
            type: string
            nullable: true
            length: 60
            fixed: false
        phone:
            type: string
            nullable: true
            length: 20
            fixed: false
    manyToMany:
        provider:
            targetEntity: Provider
            cascade: {  }
            mappedBy: genericUser
            inversedBy: null
            joinTable: null
            orderBy: null
    lifecycleCallbacks: {  }
