<!DOCTYPE html>
<html>
  <head>
    <title>New Lead</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <h2>New Lead</h2>
    <form role="form" action="{{ url('post_lead') }}?apikey={{ apikey }}" method="POST">
      <fieldset>
        <legend>Showroom:</legend>
        <div class="form-group">
          <label for="lead_event_type">Showroom ID</label>
          <input type="number" class="form-control" id="lead_showroom_id" name="lead[showroom][id]" placeholder="Enter showroom" required="required" value="1">
        </div>
      <fieldset>
      <fieldset>
        <legend>User:</legend>
        <div class="form-group">
          <label for="lead_user_name">Name</label>
          <input type="text" class="form-control" id="lead_user_name" name="lead[user][name]" placeholder="Enter name" required="required" value="name">
        </div>
        <div class="form-group">
          <label for="lead_user_surname">Surname</label>
          <input type="text" class="form-control" id="lead_user_surname" name="lead[user][surname]" placeholder="Enter surname" required="required" value="surname">
        </div>
        <div class="form-group">
          <label for="lead_user_email">Email</label>
          <input type="email" class="form-control" id="lead_user_email" name="lead[user][email]" placeholder="Enter email" required="required" value="email@email.com">
        </div>
        <div class="form-group">
          <label for="lead_user_phone">Phone</label>
          <input type="text" class="form-control" id="lead_user_phone" name="lead[user][phone]" placeholder="Enter phone" required="required" value="0132456789">
        </div>
      </fieldset>
      <fieldset>
        <legend>Event:</legend>
        <div class="form-group">
          <label for="lead_event_date">Date (YYYY-MM-GG)</label>
          <input type="text" class="form-control" id="lead_event_date" name="lead[event][date]" placeholder="Enter date" required="required" value="2014-10-15">
        </div>
        <div class="form-group">
          <label for="lead_event_type">Type</label>
          <input type="number" class="form-control" id="lead_event_type" name="lead[event][type]" placeholder="Enter type" required="required" value="1">
        </div>
        <fieldset>
          <legend>Location:</legend>
          <div class="form-group">
            <label for="lead_event_location_lat">Latitude</label>
            <input type="number" class="form-control" id="lead_event_location_lat" name="lead[event][location][lat]" placeholder="Enter lat" required="required" value="10">
          </div>
          <div class="form-group">
            <label for="lead_event_location_long">Longitude</label>
            <input type="number" class="form-control" id="lead_event_location_long" name="lead[event][location][long]" placeholder="Enter long" required="required" value="10">
          </div>
          <div class="form-group">
            <label for="lead_event_location_admin_level_1">Admin level 1</label>
            <input type="text" class="form-control" id="lead_event_location_lat" name="lead[event][location][admin_level_1]" placeholder="Enter admin_level_1" required="required" value="Parla">
          </div>
          <div class="form-group">
            <label for="lead_event_location_admin_level_2">Admin level 2</label>
            <input type="text" class="form-control" id="lead_event_location_admin_level_2" name="lead[event][location][admin_level_2]" placeholder="Enter admin_level_2" required="required" value="Madrid">
          </div>
          <div class="form-group">
            <label for="lead_event_location_country">Country</label>
            <input type="text" class="form-control" id="lead_event_location_country" name="lead[event][location][country]" placeholder="Enter country" required="required" value="Spain">
          </div>
        </fieldset>
      </fieldset>
      <button type="submit" class="btn btn-default btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>